/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.transparent-bg {
    background: rgba(0,0,0,0.7);
    color: #fff;
}
.dark-bg {
    background: #212121;
    color: #fff;
}
